# build output
dist/
build/
coverage/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Build outputs
**/dist
**/*.tgz

# Bun
.bun
.bunx

# IDEs and editors
/.idea
.project
.vscode/
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Environment Files
*.env
.env*.local
*.env.local
*.env.production
*.env.test
*.env.development

# Agents
.plan
.agents
.secrets
.tasks