# dependencies
/node_modules

# Build outputs
**/dist
**/*.tgz

# Bun
.bun
.bunx

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

.env
