@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f8fafc;
}
body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
